<!-- Tools Part Start -->
<div id="tool-box">

    <div>
        <form action="/expense/charts" method="get">
             <button>Charts</button>
        </form>
    </div>

    <div>
        <form action="/expense/expenseCalender" method="get">
            <button>View Expense</button>
        </form>
    </div>

    <div><button id="searchButton">Search</button></div>

    <div> 
        <form action="/expense/download" method="get">
            <button>Export</button>
        </form>
    </div>
    
 </div>
<!-- Tool Part End -->
